<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link href="libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %> <%- contentFor('body') %>
<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">Courses</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Courses</a>
          </li>
          <li class="breadcrumb-item active">Datatables</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->
<input type="hidden" id="me" name="me" value="<%= JSON.stringify(user) %>" />
<input type="hidden" class="api-path" name="api-path" value="quiz" />
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="mb-3">
              <!-- /btn-group -->
              <% if(!["teacher", "student"].includes(user.role.slug)){%>
              <a href="javascript:void(0);" class="btn btn-success waves-effect waves-light  " id="btnAddCourse" data-bs-toggle="modal" data-bs-target="#addCourseModalScrollable"><i class="mdi mdi-plus me-2"></i> Add Course</a>

              <% } %>
            </div>
          </div>

        </div>
        <table id="coursesdatatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
          <thead>
            <tr>
              <th>ON</th>
              <th>Name</th>
              <th>Create At</th>
              <th scope="col" style="width: 200px">Action</th>
            </tr>
          </thead>
        </table>
        <%- include("../Course/forms/modal-add-course") %>
        <%- include("../Course/forms/modal-edit-course") %>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="js/pages/courses/courses-datatables.init.js"></script>

<%- contentFor('BottomJs') %>