<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %> <%- contentFor('body') %>
<link href="css/quiz.css" rel="stylesheet" type="text/css" />
<!-- <h4><%= quizInfo.title %></h4> -->
<div class="container-md">
  <div class="row">
    <div class="col-md-9">
      <div>
        <div class="card mb-3">
          <div class="card-header bg-soft-secondary d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" style="gap: 10px">
              <div
                style="width: 40px; height: 40px; font-size: 20px"
                class="bg-primary d-flex justify-content-center align-items-center mr-1 rounded"
              >
                <i class="bx bx-radio-circle-marked text-white"></i>
              </div>
              <p class="m-0">Featured</p>
            </div>
            <div>
              <button class="btn btn-success waves-light waves-effect">
                Edit
                <i class="bx bx-edit-alt"></i>
              </button>
              <button class="btn btn-danger waves-light waves-effect">
                <i class="bx bx-trash"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Special title treatment Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto aliquid
              unde nihil aperiam quisquam magni. Quis aliquam, in repellendus corrupti odio molestias harum
              quia? Voluptatibus quia quidem at distinctio cumque.
            </h5>
            <div class="position-relative">
              <hr />
              <p
                class="badge rounded-pill bg-soft-dark position-absolute"
                style="top: 50%; left: 5%; transform: translate(0%, -50%)"
              >
                Answer choices
              </p>
            </div>
            <div class="row d-inline-flex">
              <div class="col-md-6 mb-3">
                <i class="bx bxs-circle text-danger"></i> aousdoisuaoduioasudoiasuoidusaoidu
              </div>
              <div class="col-md-6 mb-3">
                <i class="bx bxs-circle text-danger"></i> aousdoisuaoduioasudoiasuoidusaoidu
              </div>
              <div class="col-md-6 mb-3">
                <i class="bx bxs-circle text-danger"></i> aousdoisuaoduioasudoiasuoidusaoidu
              </div>
              <div class="col-md-6 mb-3">
                <i class="bx bxs-circle text-success"></i> aousdoisuaoduioasudoiasuoidusaoidu
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-soft-secondary d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" style="gap: 10px">
              <div
                style="width: 40px; height: 40px; font-size: 20px"
                class="bg-warning d-flex justify-content-center align-items-center mr-1 rounded"
              >
                <i class="mdi mdi-rectangle-outline text-white"></i>
              </div>
              <p class="m-0">Featured</p>
            </div>

            <div>
              <button class="btn btn-success waves-light waves-effect">
                Edit
                <i class="bx bx-edit-alt"></i>
              </button>
              <button class="btn btn-danger waves-light waves-effect">
                <i class="bx bx-trash"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Special title treatment Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto aliquid
              unde nihil ______________ in repellendus corrupti odio molestias harum quia? Voluptatibus quia
              quidem at distinctio cumque.
            </h5>
            <div class="position-relative">
              <hr />
              <p
                class="badge rounded-pill bg-soft-dark position-absolute"
                style="top: 50%; left: 5%; transform: translate(0%, -50%)"
              >
                Answer
              </p>
            </div>
            <div class="row d-inline-flex">
              <div class="col-12 mb-3">
                <i class="bx bxs-caret-right-circle"></i> aousdoisuaoduioasudoiasuoidusaoidu
              </div>
            </div>
            <div>
              <div class="position-relative">
                <hr />
                <p
                  class="badge rounded-pill bg-soft-dark position-absolute"
                  style="top: 50%; left: 5%; transform: translate(0%, -50%)"
                >
                  Alternatives
                </p>
              </div>
              <div class="row d-inline-flex">
                <div class="col-12 mb-3 d-flex align-items-center">
                  <i class="bx bxs-caret-right-circle"></i> =sạdhjashdjasd
                </div>
                <div class="col-12 mb-3 d-flex align-items-center">
                  <i class="bx bxs-caret-right-circle"></i> ádasdasd
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-soft-secondary d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" style="gap: 10px">
              <div
                style="width: 40px; height: 40px; font-size: 20px"
                class="bg-info d-flex justify-content-center align-items-center mr-1 rounded"
              >
                <i class="bx bxs-music text-white"></i>
              </div>
              <p class="m-0">Featured</p>
            </div>

            <div>
              <button class="btn btn-success waves-light waves-effect">
                Edit
                <i class="bx bx-edit-alt"></i>
              </button>
              <button class="btn btn-danger waves-light waves-effect">
                <i class="bx bx-trash"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <audio controls>
              <source src="https://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
            </audio>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-soft-secondary d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" style="gap: 10px">
              <div
                style="width: 40px; height: 40px; font-size: 20px"
                class="bg-dark d-flex justify-content-center align-items-center mr-1 rounded"
              >
                <i class="bx bx-water text-white"></i>
              </div>
              <p class="m-0">Featured</p>
            </div>

            <div>
              <button class="btn btn-success waves-light waves-effect">
                Edit
                <i class="bx bx-edit-alt"></i>
              </button>
              <button class="btn btn-danger waves-light waves-effect">
                <i class="bx bx-trash"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Special title treatment Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto aliquid
              unde nihil ______________ in repellendus corrupti odio molestias harum quia? Voluptatibus quia
              quidem at distinctio cumque.
            </h5>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-soft-secondary d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" style="gap: 10px">
              <div
                style="width: 40px; height: 40px; font-size: 20px"
                class="bg-danger d-flex justify-content-center align-items-center mr-1 rounded"
              >
                <i class="bx bx-image-alt text-white"></i>
              </div>
              <p class="m-0">Featured</p>
            </div>

            <div>
              <button class="btn btn-success waves-light waves-effect">
                Edit
                <i class="bx bx-edit-alt"></i>
              </button>
              <button class="btn btn-danger waves-light waves-effect">
                <i class="bx bx-trash"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <!-- <img
              src="https://www.w3schools.com/html/img_chania.jpg"
              class="img-fluid"
              alt="Responsive image"
            /> -->
          </div>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center mb-1">
        <div style="gap: 10px" class="bg-white p-3 d-flex justify-content-between rounded">
          <button
            data-bs-toggle="modal"
            data-bs-target="#radioQuizFormFillModal"
            style="width: 40px; height: 40px; font-size: 20px"
            class="btn btn-primary waves-light waves-effect d-flex justify-content-center align-items-center"
          >
            <i class="bx bx-radio-circle-marked"></i>
          </button>

          <button
            data-bs-toggle="modal"
            data-bs-target="#fillQuizFormFillModal"
            style="width: 40px; height: 40px; font-size: 20px"
            class="btn btn-warning waves-light waves-effect d-flex justify-content-center align-items-center"
          >
            <i class="mdi mdi-rectangle-outline"></i>
          </button>
          <button
            style="width: 40px; height: 40px; font-size: 20px"
            class="btn btn-info waves-light waves-effect d-flex justify-content-center align-items-center"
          >
            <i class="bx bxs-music"></i>
          </button>
          <button
            style="width: 40px; height: 40px; font-size: 20px"
            class="btn btn-dark waves-light waves-effect d-flex justify-content-center align-items-center"
          >
            <i class="bx bx-water"></i>
          </button>
          <button
            style="width: 40px; height: 40px; font-size: 20px"
            class="btn btn-danger waves-light waves-effect d-flex justify-content-center align-items-center"
          >
            <i class="bx bx-image-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= quizInfo.title %></h4>
          <ul>
            <li>
              <div class="text-primary d-flex justify-content-start align-items-center" style="gap: 10px">
                <p class="m-0"><%= quizInfo.duration/60 %> (minutes)</p>
                <i class="ml-2 bx bx-time-five"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%- include("./modals/radio-quiz") %> <%- include("./modals/fill-quiz") %>
</div>
<%- contentFor('FooterJs') %>
<script src="libs/jquery.repeater/jquery.repeater.min.js"></script>
<script src="js/pages/quiz/fill-quiz-form-fill.js"></script>
<script src="js/pages/quiz/radio-quiz-form-fill.js"></script>
<%- contentFor('BottomJs') %>
