<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link href="libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link
  href="libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0" id="classworkTitle"></h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Classwork</a>
          </li>
          <li class="breadcrumb-item active">Detail</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<span id="count_answers"></span>
<input type="hidden" id="classworkId" value="<%= classworkId %>" />
<input type="hidden" id="classroomId" value="<%= classroomId %>" />

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="mb-3">
              <div class="btn-group me-1">
                <select class="form-select" name="host" id="selectClassroomAssigned"></select>
              </div>
            </div>
          </div>
        </div>
        <ul id="classworkTabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              data-bs-toggle="tab"
              href="#nav-answers"
              role="tab"
              aria-controls="nav-answers"
              aria-selected="true"
              id="nav-answers-tab"
              class="nav-link active"
              >Answers</a
            >
          </li>
          <li class="nav-item">
            <a
              data-bs-toggle="tab"
              href="#nav-missing"
              role="tab"
              aria-controls="nav-missing"
              aria-selected="false"
              id="nav-missing-tab"
              class="nav-link"
              >Missing</a
            >
          </li>
        </ul>
        <div class="tab-content">
          <%- include("./classwork-answers") %> <%- include("./classwork-answers-missing") %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="js/pages/classwork/classwork-detail.js"></script>
<script src="js/pages/classwork/classwork-mark-form-fill.js"></script>

<%- contentFor('BottomJs') %>
