<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link href="libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>


<%- contentFor('body') %>
<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">My Diagnoses</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">List My Quizzes</a></li>
          <li class="breadcrumb-item active">Datatables</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->
<input type="hidden" id="me" name="me" value="<%= JSON.stringify(user) %>" />

<input type="hidden" class="api-path" name="api-path" value="quiz" />
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="mb-3">
              <div class="btn-group me-1">
                <button id="btn-skill-label" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu">
                  <% skills.forEach(function(skill){ %>
                  <a class="show-by-skill dropdown-item" type="button" action="<%= skill._id %>"><%= skill.name %>
                  </a>
                  <% }); %>
                </div>
              </div>
              <% if(!["teacher", "student"].includes(user.role.slug)){%>
              <a href="javascript:void(0);" class="btn btn-success waves-effect waves-light  " id="btnAddUser" data-bs-toggle="modal" data-bs-target="#diagnoseFormFillModal"><i class="mdi mdi-plus me-2"></i> Add New Diagnose</a>
              <% } %>
            </div>
          </div>
        </div>
        <table id="diagnosedatatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Types</th>
              <th>Create At</th>
              <th scope="col" style="width: 200px">Action</th>
            </tr>
          </thead>
        </table>
        <%- include("./modals/diagnose-form-fill") %>
      </div>
    </div>
  </div> <!-- end col -->
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="js/pages/diagnose/diagnose-list-datatables.js"></script>

<!-- Modal form create new init js -->
<script src="js/pages/diagnose/diagnose-form-fill.js"></script>

<%- contentFor('BottomJs') %>